[Unit]
Description = Catalogue Service

[Service]
User=roboshop

// highlight-start
Environment=MONGO="mongodb://mongodb.monnish.com:27017/catalogue"
// highlight-end
ExecStart=/bin/node /app/server.js
SyslogIdentifier=catalogue

[Install]
WantedBy=multi-user.target